
<section class="container container-event">

    <h1 class="title-event">{{event.title}}</h1>

    <div class="box-image">
        <img src="https://eventi-images.s3.eu-central-1.amazonaws.com/{{event.image}}" alt="">
    </div>

    <div class="dati-event">
        <p><a href="https://www.google.com/maps/search/?api=1&query={{event.indirizzoMaps}}" target="_blank"><i class="fas fa-map-marker-alt"></i> {{event.citta}}, {{event.indirizzo}}</a></p>
        <p><i class="fas fa-calendar-day"></i> {{event.giorno}}-{{event.mese}}-{{event.anno}}</p>
        <p><i class="fas fa-clock"></i> {{event.ora}}h</p>

        <p><i class="fas fa-eye"> </i> {{event.views}}</p>
    </div>

    <br>

    <div class="dati-event">
        <p class="description">{{event.description}}</p>
    </div>  

</section>

<!--BUTTON DASHBOARD-->
<div class="hdr__nav__user">
            <!--Menu-->
            <ul class="hdr__nav__user__menu">
                <li class="hdr__nav__user__menu__item">
                      <div class="tooltip">
                          <span class="tooltiptext">Dashboard</span>     <!--tooltip da aggiustare-->
                      </div>
                      
                    <a href="/user/userEvents" onclick="activeMenu()">
                        <i class="fas fa-tachometer-alt" style="color: #555"></i>
                    </a>
                </li>
                <li class="hdr__nav__user__menu__item">
                    <div class="tooltip">
                          <span class="tooltiptext">Modifica evento</span>
                      </div>
                    <a href="/user/eventi/editEvent/{{event._id}}" onclick="activeMenu()">
                        <i class="fas fa-edit" style="color:#ff9800"></i>
                    </a>
                </li>
                <li class="hdr__nav__user__menu__item">
                    <div class="tooltip">
                          <span class="tooltiptext">Elimina evento</span>
                      </div>
                    <a href="/user/eventi/deleteEvent" onclick="activeMenu()">
                        <i class="fas fa-trash-alt" style="color:#f32e0bd2"></i>
                    </a>
                </li>
                 <li class="hdr__nav__user__menu__item">
                    <div class="tooltip">
                          <span class="tooltiptext">Condividi</span>
                      </div>
                    <a href="/user/eventi/shareEvent" onclick="activeMenu()">
                        <i class="fas fa-share-square" style="color:#0389f7d2"></i>
                    </a>
                </li>
            </ul>
        </div>