


{{#if eventUser}}
<section class="container container-event">

    <h1 class="title-event">{{eventUser.title}}</h1>

    <div class="box-image">
        <img src="https://eventi-images.s3.eu-central-1.amazonaws.com/{{eventUser.image}}" alt="">
    </div>

    <div class="dati-event">

        <h4>Luogo</h4>
        <p><a href="https://www.google.com/maps/search/?api=1&query={{eventUser.indirizzoMaps}}" target="_blank"><i class="fas fa-map-marker-alt"></i> {{eventUser.citta}}, {{eventUser.indirizzo}}</a></p>
        
        <h4>Data Inizio</h4>
        <p><a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{eventUser.title}}&details=Evento+salvato+da+Youlivent&location={{eventUser.indirizzoMaps}}&dates={{eventUser.dateUtility_i}}T{{eventUser.hoursUtility_i}}00Z%2F{{eventUser.dateUtility_f}}T{{eventUser.hoursUtility_f}}00Z"
                target="_blank">
                <i class="fas fa-calendar-day"></i> 
                {{eventUser.giorno_i}}-{{eventUser.mese_i}}-{{eventUser.anno_i}}
            </a>
        </p>
        <p><i class="fas fa-clock"></i> {{eventUser.ora_i}}h</p>

        <h4>Data Fine</h4>
        <p><a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{eventUser.title}}&details=Evento+salvato+da+Youlivent&location={{eventUser.indirizzoMaps}}&dates={{eventUser.dateUtility_i}}T{{eventUser.hoursUtility_i}}00Z%2F{{eventUser.dateUtility_f}}T{{eventUser.hoursUtility_f}}00Z"
                target="_blank">
                <i class="fas fa-calendar-day"></i> 
                {{eventUser.giorno_f}}-{{eventUser.mese_f}}-{{eventUser.anno_f}}
            </a>
        </p>
        <p><i class="fas fa-clock"></i> {{eventUser.ora_f}}h</p>

        {{!-- views --}}
        <p><i class="fas fa-eye"> </i> {{eventUser.views}}</p>
    </div>

    <br>

    <div class="dati-event">
        <p class="description">{{eventUser.description}}</p>
    </div>  

</section>

    <!--BUTTON DASHBOARD-->
<div class="hdr__nav__user">
            <!--Menu-->
            <ul class="hdr__nav__user__menu">
                <li class="hdr__nav__user__menu__item">
                      <div class="tooltip">
                          <span class="tooltiptext">Dashboard</span>     <!--tooltip da aggiustare-->
                      </div>
                      
                   <form action="/user/userEvents">
                        <button id="btn-dashboard" type="submit" >
                            <i class="fas fa-tachometer-alt" style="color: #555"></i>
                        </button>
                    </form>
                </li>
                <li class="hdr__nav__user__menu__item">
                    <div class="tooltip">
                          <span class="tooltiptext">Modifica evento</span>
                      </div>
                       <form action="/user/eventi/editEvent/{{eventUser._id}}?newMethod=GET" method="get">
                        <button id="btn-edit" type="submit" >
                            <i class="fas fa-edit" style="color:#ff9800"></i>
                        </button>
                    </form>
                </li>
                <li class="hdr__nav__user__menu__item">
                    <div class="tooltip">
                          <span class="tooltiptext">Elimina evento</span>
                      </div>

                    <div>
                        <button id="btn-delete" onclick="confirmDelete()">
                            <i class="fas fa-trash-alt" style="color:#f32e0bd2"></i>
                        </button>
                    </div>
                </li>
                 <li class="hdr__nav__user__menu__item">
                    <div class="tooltip">
                          <span class="tooltiptext">Condividi</span>
                      </div>

                       <form action="/user/eventi/shareEvent">
                        <button id="#btn-share" type="submit" >
                            <i class="fas fa-share-square" style="color:#0389f7d2"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>

{{!-- POPUP DELETE CONFIRM --}}
<div id="confirm-delete" class="confirm-delete">
    <form action="/user/eventi/deleteEvent/{{eventUser._id}}?newMethod=DELETE" method="post">

        <i class="fas fa-trash-alt" style="color:#f32e0bd2"></i>

        <p>Sicuro di voler eliminare l'evento {{eventUser.title}}?</p>

        <button type="button" style="background:rgb(10, 181, 17)" onclick="confirmDelete()">
            Annulla
        </button>

        <button type="submit" style="background:#f32e0bd2">
            Conferma
        </button>
    </form>
</div>

{{!-- {{else}}

    <h4 style=" text-align: center;
                color: #555;
                padding: 20px;
                margin: 10vh 12vw;
                background: #ffd105;
                border-radius: 10px;
                line-height: 36px;">
        Sembra che qualcosa sia andato storto. L'evento a cui stai cercando di accedere o è stato rimosso,
        o non si hanno i permessi per visualizzarlo. Per ulteriori informazioni, non esiti a contattare il nostro supporto tecnico,
        devono lavorare anche loro. 
    </h4> --}}

{{/if}}



{{#if event}}
<section class="container container-event">

    <h1 class="title-event">{{event.title}}</h1>

    <div class="box-image">
        <img src="https://eventi-images.s3.eu-central-1.amazonaws.com/{{event.image}}" alt="">
    </div>

    <div class="dati-event">

        <h4>Luogo</h4>
        <p><a href="https://www.google.com/maps/search/?api=1&query={{event.indirizzoMaps}}" target="_blank"><i class="fas fa-map-marker-alt"></i> {{event.citta}}, {{event.indirizzo}}</a></p>

        <h4>Data Inizio</h4>
        <p><a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{event.title}}&details=Evento+salvato+da+Youlivent&location={{event.indirizzoMaps}}&dates={{event.dateUtility_i}}T{{event.hoursUtility_i}}00Z%2F{{event.dateUtility_f}}T{{event.hoursUtility_f}}00Z"
                target="_blank">
                <i class="fas fa-calendar-day"></i> 
                {{event.giorno_i}}-{{event.mese_i}}-{{event.anno_i}}
            </a>
        </p>
        <p><i class="fas fa-clock"></i> {{event.ora_i}}h</p>

        <h4>Data Fine</h4>
        <p><a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{event.title}}&details=Evento+salvato+da+Youlivent&location={{event.indirizzoMaps}}&dates={{event.dateUtility_i}}T{{event.hoursUtility_i}}00Z%2F{{event.dateUtility_f}}T{{event.hoursUtility_f}}00Z"
                target="_blank">
                <i class="fas fa-calendar-day"></i> 
                {{event.giorno_f}}-{{event.mese_f}}-{{event.anno_f}}
            </a>
        </p>
        <p><i class="fas fa-clock"></i> {{event.ora_f}}h</p>

        {{!-- views --}}

        <p><i class="fas fa-eye"> </i> {{event.views}}</p>
    </div>

    <br>

    <div class="dati-event">
        <p class="description">{{event.description}}</p>
    </div>  

</section>

    <!--BUTTON DASHBOARD-->
<div class="hdr__nav__user">
            <!--Menu-->
            <ul class="hdr__nav__user__menu">
                <li class="hdr__nav__user__menu__item">
                      <div class="tooltip">
                          <span class="tooltiptext">Dashboard</span>     <!--tooltip da aggiustare-->
                      </div>
                      
                   <form action="/user/userEvents">
                        <button type="submit" >
                            <i class="fas fa-tachometer-alt" style="color: #555"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>


{{!-- {{else}}

    <h4 style=" text-align: center;
                color: #555;
                padding: 20px;
                margin: 10vh 12vw;
                background: #ffd105;
                border-radius: 10px;
                line-height: 36px;">
        Sembra che qualcosa sia andato storto. L'evento a cui stai cercando di accedere o è stato rimosso,
        o non si hanno i permessi per visualizzarlo. Per ulteriori informazioni, non esiti a contattare il nostro supporto tecnico,
        devono lavorare anche loro. 
    </h4> --}}

{{/if}} 