
<section class="container container-event">

    <h1 class="title-event">{{event.title}}</h1>

    <div class="box-image">
        <img src="https://eventi-images.s3.eu-central-1.amazonaws.com/{{event.image}}" alt="">
    </div>

    <div class="dati-event">
        <p><a href="https://www.google.com/maps/search/?api=1&query={{event.indirizzoMaps}}" target="_blank"><i class="fas fa-map-marker-alt"></i> {{event.citta}}, {{event.indirizzo}}</a></p>
        <p><i class="fas fa-calendar-day"></i> {{event.giorno}}-{{event.mese}}-{{event.anno}}</p>
        <p><i class="fas fa-clock"></i> {{event.ora}}h</p>
    </div>

    <div class="dati-event">
        <p class="description">{{event.description}}</p>
    </div>  

    


</section>