<h1 style="text-align: center;">Eventi trovati</h1>

<div class="container">
       
    {{#each event}}
       <a href="eventi/{{_id}}">
            <section class="container__card">
                <div class="container__title-views">
                    <h1 class="title-event">{{title}}</h1>
                    <div class="continer__views">
                        <p><i class="fas fa-eye"></i>{{views}}</p>
                     </div>
                </div>
                <p><i class="fas fa-map-marker-alt"></i> {{citta}}</p>
                <p><i class="fas fa-calendar-day"></i> {{giorno}}-{{mese}}-{{anno}}</p>
                <p><i class="fas fa-clock"></i> {{ora}}h</p>
                {{!-- <img src="https://source.unsplash.com/random" style="max-width: 100%; position: relative" alt=""> --}}
                <img src="https://eventi-images.s3.eu-central-1.amazonaws.com/{{image}}" alt="">
                <p>{{description}}</p>
            </section>
        </a>
    {{/each}}    
</div>