<h1 style="text-align: center;">Eventi trovati</h1>

<div class="container">
       
    {{#each event}}
       <a href="#">
            <section class="container__card">
                <h2>{{title}}</h2>
                <p>Luogo: {{citta}}</p>
                <p>Data: {{giorno}}-{{mese}}-{{anno}}</p>
                <p>Start: h{{ora}}</p>
                {{!-- <img src="https://source.unsplash.com/random" style="max-width: 100%; position: relative" alt=""> --}}
                <img src="https://eventi-images.s3.eu-central-1.amazonaws.com/{{image}}" alt="">
                <p>{{description}}</p>
            </section>
        </a>
    {{/each}}    
</div>